{% extends 'base.html' %}

{% block content %}
<br>
<br>
  <div class="container">
    <div class="d-flex flex-column">
        <h1>About Methane Predictions App</h1>
    <p>This app uses machine learning models to predict methane emissions from agricultural operations based on input data such as weather, soil conditions, and livestock numbers.</p>
    <p>The app is built with Django and Streamlit. Django is used for the web framework, while Streamlit provides the data visualization and machine learning components.</p>
    <p>The machine learning models are trained on a large dataset of methane emissions from various agricultural operations. The models use various features such as temperature, precipitation, and livestock numbers to predict methane emissions with high accuracy.</p>
    <p>The goal of this app is to help farmers and agricultural companies to better manage their methane emissions and reduce their impact on the environment.</p>
    <p>For more information about the app, please contact us at info@sirge.com.</p>

    </div>
  </div>



{% endblock content %}