<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>DATE</th>
      <th>EF</th>
      <th>AvgTemp</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1950-12-31</td>
      <td>5750637</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td>1951-12-31</td>
      <td>5909819</td>
      <td>2.77</td>
    </tr>
    <tr>
      <td>1952-12-31</td>
      <td>6073833</td>
      <td>2.78</td>
    </tr>
    <tr>
      <td>1953-12-31</td>
      <td>6243883</td>
      <td>2.80</td>
    </tr>
    <tr>
      <td>1954-12-31</td>
      <td>6419882</td>
      <td>2.82</td>
    </tr>
    <tr>
      <td>1955-12-31</td>
      <td>6601785</td>
      <td>2.83</td>
    </tr>
    <tr>
      <td>1956-12-31</td>
      <td>6790145</td>
      <td>2.85</td>
    </tr>
    <tr>
      <td>1957-12-31</td>
      <td>6985793</td>
      <td>2.88</td>
    </tr>
    <tr>
      <td>1958-12-31</td>
      <td>7189279</td>
      <td>2.91</td>
    </tr>
    <tr>
      <td>1959-12-31</td>
      <td>7401282</td>
      <td>2.95</td>
    </tr>
    <tr>
      <td>1960-12-31</td>
      <td>7617746</td>
      <td>2.92</td>
    </tr>
    <tr>
      <td>1961-12-31</td>
      <td>7838440</td>
      <td>2.90</td>
    </tr>
    <tr>
      <td>1962-12-31</td>
      <td>8068828</td>
      <td>2.94</td>
    </tr>
    <tr>
      <td>1963-12-31</td>
      <td>8311013</td>
      <td>3.00</td>
    </tr>
    <tr>
      <td>1964-12-31</td>
      <td>8564755</td>
      <td>3.05</td>
    </tr>
    <tr>
      <td>1965-12-31</td>
      <td>8829056</td>
      <td>3.09</td>
    </tr>
    <tr>
      <td>1966-12-31</td>
      <td>9104743</td>
      <td>3.12</td>
    </tr>
    <tr>
      <td>1967-12-31</td>
      <td>9393432</td>
      <td>3.17</td>
    </tr>
    <tr>
      <td>1968-12-31</td>
      <td>9696370</td>
      <td>3.22</td>
    </tr>
    <tr>
      <td>1969-12-31</td>
      <td>10006526</td>
      <td>3.20</td>
    </tr>
    <tr>
      <td>1970-12-31</td>
      <td>10317212</td>
      <td>3.10</td>
    </tr>
    <tr>
      <td>1971-12-31</td>
      <td>10616338</td>
      <td>2.90</td>
    </tr>
    <tr>
      <td>1972-12-31</td>
      <td>10885563</td>
      <td>2.54</td>
    </tr>
    <tr>
      <td>1973-12-31</td>
      <td>11146099</td>
      <td>2.39</td>
    </tr>
    <tr>
      <td>1974-12-31</td>
      <td>11428676</td>
      <td>2.54</td>
    </tr>
    <tr>
      <td>1975-12-31</td>
      <td>11730959</td>
      <td>2.64</td>
    </tr>
    <tr>
      <td>1976-12-31</td>
      <td>12045227</td>
      <td>2.68</td>
    </tr>
    <tr>
      <td>1977-12-31</td>
      <td>12369253</td>
      <td>2.69</td>
    </tr>
    <tr>
      <td>1978-12-31</td>
      <td>12701999</td>
      <td>2.69</td>
    </tr>
    <tr>
      <td>1979-12-31</td>
      <td>13011511</td>
      <td>2.44</td>
    </tr>
    <tr>
      <td>1980-12-31</td>
      <td>13284026</td>
      <td>2.09</td>
    </tr>
    <tr>
      <td>1981-12-31</td>
      <td>13563558</td>
      <td>2.10</td>
    </tr>
    <tr>
      <td>1982-12-31</td>
      <td>13880052</td>
      <td>2.33</td>
    </tr>
    <tr>
      <td>1983-12-31</td>
      <td>14228932</td>
      <td>2.51</td>
    </tr>
    <tr>
      <td>1984-12-31</td>
      <td>14617944</td>
      <td>2.73</td>
    </tr>
    <tr>
      <td>1985-12-31</td>
      <td>15038915</td>
      <td>2.88</td>
    </tr>
    <tr>
      <td>1986-12-31</td>
      <td>15486807</td>
      <td>2.98</td>
    </tr>
    <tr>
      <td>1987-12-31</td>
      <td>15974216</td>
      <td>3.15</td>
    </tr>
    <tr>
      <td>1988-12-31</td>
      <td>16489323</td>
      <td>3.22</td>
    </tr>
    <tr>
      <td>1989-12-31</td>
      <td>17028543</td>
      <td>3.27</td>
    </tr>
    <tr>
      <td>1990-12-31</td>
      <td>17586630</td>
      <td>3.28</td>
    </tr>
    <tr>
      <td>1991-12-31</td>
      <td>18171935</td>
      <td>3.33</td>
    </tr>
    <tr>
      <td>1992-12-31</td>
      <td>18801966</td>
      <td>3.47</td>
    </tr>
    <tr>
      <td>1993-12-31</td>
      <td>19462958</td>
      <td>3.52</td>
    </tr>
    <tr>
      <td>1994-12-31</td>
      <td>20125021</td>
      <td>3.40</td>
    </tr>
    <tr>
      <td>1995-12-31</td>
      <td>20680831</td>
      <td>2.76</td>
    </tr>
    <tr>
      <td>1996-12-31</td>
      <td>21249572</td>
      <td>2.75</td>
    </tr>
    <tr>
      <td>1997-12-31</td>
      <td>21876935</td>
      <td>2.95</td>
    </tr>
    <tr>
      <td>1998-12-31</td>
      <td>22537658</td>
      <td>3.02</td>
    </tr>
    <tr>
      <td>1999-12-31</td>
      <td>23279247</td>
      <td>3.29</td>
    </tr>
    <tr>
      <td>2000-12-31</td>
      <td>24020697</td>
      <td>3.19</td>
    </tr>
    <tr>
      <td>2001-12-31</td>
      <td>24763325</td>
      <td>3.09</td>
    </tr>
    <tr>
      <td>2002-12-31</td>
      <td>25545090</td>
      <td>3.16</td>
    </tr>
    <tr>
      <td>2003-12-31</td>
      <td>26354736</td>
      <td>3.17</td>
    </tr>
    <tr>
      <td>2004-12-31</td>
      <td>27146084</td>
      <td>3.00</td>
    </tr>
    <tr>
      <td>2005-12-31</td>
      <td>27946588</td>
      <td>2.95</td>
    </tr>
    <tr>
      <td>2006-12-31</td>
      <td>28773227</td>
      <td>2.96</td>
    </tr>
    <tr>
      <td>2007-12-31</td>
      <td>29629804</td>
      <td>2.98</td>
    </tr>
    <tr>
      <td>2008-12-31</td>
      <td>30509862</td>
      <td>2.97</td>
    </tr>
    <tr>
      <td>2009-12-31</td>
      <td>31412520</td>
      <td>2.96</td>
    </tr>
    <tr>
      <td>2010-12-31</td>
      <td>32341728</td>
      <td>2.96</td>
    </tr>
    <tr>
      <td>2011-12-31</td>
      <td>33295738</td>
      <td>2.95</td>
    </tr>
    <tr>
      <td>2012-12-31</td>
      <td>34273295</td>
      <td>2.94</td>
    </tr>
    <tr>
      <td>2013-12-31</td>
      <td>35273570</td>
      <td>2.92</td>
    </tr>
    <tr>
      <td>2014-12-31</td>
      <td>36336539</td>
      <td>3.01</td>
    </tr>
    <tr>
      <td>2015-12-31</td>
      <td>37477356</td>
      <td>3.14</td>
    </tr>
    <tr>
      <td>2016-12-31</td>
      <td>38748299</td>
      <td>3.39</td>
    </tr>
    <tr>
      <td>2017-12-31</td>
      <td>40127085</td>
      <td>3.56</td>
    </tr>
    <tr>
      <td>2018-12-31</td>
      <td>41515395</td>
      <td>3.46</td>
    </tr>
    <tr>
      <td>2019-12-31</td>
      <td>42949080</td>
      <td>3.45</td>
    </tr>
    <tr>
      <td>2020-12-31</td>
      <td>44404611</td>
      <td>3.39</td>
    </tr>
    <tr>
      <td>2021-12-31</td>
      <td>45853778</td>
      <td>3.26</td>
    </tr>
    <tr>
      <td>2022-12-31</td>
      <td>47249585</td>
      <td>3.04</td>
    </tr>
    <tr>
      <td>2023-12-31</td>
      <td>48582334</td>
      <td>2.82</td>
    </tr>
    <tr>
      <td>2024-12-31</td>
      <td>49924252</td>
      <td>2.76</td>
    </tr>
    <tr>
      <td>2025-12-31</td>
      <td>51284671</td>
      <td>2.72</td>
    </tr>
    <tr>
      <td>2026-12-31</td>
      <td>52667779</td>
      <td>2.70</td>
    </tr>
    <tr>
      <td>2027-12-31</td>
      <td>54074276</td>
      <td>2.67</td>
    </tr>
    <tr>
      <td>2028-12-31</td>
      <td>55500544</td>
      <td>2.64</td>
    </tr>
    <tr>
      <td>2029-12-31</td>
      <td>56937558</td>
      <td>2.59</td>
    </tr>
    <tr>
      <td>2030-12-31</td>
      <td>58380262</td>
      <td>2.53</td>
    </tr>
    <tr>
      <td>2031-12-31</td>
      <td>59824141</td>
      <td>2.47</td>
    </tr>
    <tr>
      <td>2032-12-31</td>
      <td>61273497</td>
      <td>2.42</td>
    </tr>
    <tr>
      <td>2033-12-31</td>
      <td>62728594</td>
      <td>2.37</td>
    </tr>
    <tr>
      <td>2034-12-31</td>
      <td>64184560</td>
      <td>2.32</td>
    </tr>
    <tr>
      <td>2035-12-31</td>
      <td>65647934</td>
      <td>2.28</td>
    </tr>
    <tr>
      <td>2036-12-31</td>
      <td>67116524</td>
      <td>2.24</td>
    </tr>
    <tr>
      <td>2037-12-31</td>
      <td>68590124</td>
      <td>2.20</td>
    </tr>
    <tr>
      <td>2038-12-31</td>
      <td>70067152</td>
      <td>2.15</td>
    </tr>
    <tr>
      <td>2039-12-31</td>
      <td>71541113</td>
      <td>2.10</td>
    </tr>
    <tr>
      <td>2040-12-31</td>
      <td>73014668</td>
      <td>2.06</td>
    </tr>
    <tr>
      <td>2041-12-31</td>
      <td>74486455</td>
      <td>2.02</td>
    </tr>
    <tr>
      <td>2042-12-31</td>
      <td>75954183</td>
      <td>1.97</td>
    </tr>
    <tr>
      <td>2043-12-31</td>
      <td>77419738</td>
      <td>1.93</td>
    </tr>
    <tr>
      <td>2044-12-31</td>
      <td>78886699</td>
      <td>1.89</td>
    </tr>
    <tr>
      <td>2045-12-31</td>
      <td>80354860</td>
      <td>1.86</td>
    </tr>
    <tr>
      <td>2046-12-31</td>
      <td>81821514</td>
      <td>1.83</td>
    </tr>
    <tr>
      <td>2047-12-31</td>
      <td>83284173</td>
      <td>1.79</td>
    </tr>
    <tr>
      <td>2048-12-31</td>
      <td>84738864</td>
      <td>1.75</td>
    </tr>
    <tr>
      <td>2049-12-31</td>
      <td>86185454</td>
      <td>1.71</td>
    </tr>
    <tr>
      <td>2050-12-31</td>
      <td>87622081</td>
      <td>1.67</td>
    </tr>
    <tr>
      <td>2051-12-31</td>
      <td>89044958</td>
      <td>1.62</td>
    </tr>
    <tr>
      <td>2052-12-31</td>
      <td>90458711</td>
      <td>1.59</td>
    </tr>
    <tr>
      <td>2053-12-31</td>
      <td>91858849</td>
      <td>1.55</td>
    </tr>
    <tr>
      <td>2054-12-31</td>
      <td>93240236</td>
      <td>1.50</td>
    </tr>
    <tr>
      <td>2055-12-31</td>
      <td>94607019</td>
      <td>1.47</td>
    </tr>
    <tr>
      <td>2056-12-31</td>
      <td>95957409</td>
      <td>1.43</td>
    </tr>
    <tr>
      <td>2057-12-31</td>
      <td>97296822</td>
      <td>1.40</td>
    </tr>
    <tr>
      <td>2058-12-31</td>
      <td>98622660</td>
      <td>1.36</td>
    </tr>
    <tr>
      <td>2059-12-31</td>
      <td>99929485</td>
      <td>1.33</td>
    </tr>
    <tr>
      <td>2060-12-31</td>
      <td>101213368</td>
      <td>1.28</td>
    </tr>
    <tr>
      <td>2061-12-31</td>
      <td>102474068</td>
      <td>1.25</td>
    </tr>
    <tr>
      <td>2062-12-31</td>
      <td>103714747</td>
      <td>1.21</td>
    </tr>
    <tr>
      <td>2063-12-31</td>
      <td>104930417</td>
      <td>1.17</td>
    </tr>
    <tr>
      <td>2064-12-31</td>
      <td>106122595</td>
      <td>1.14</td>
    </tr>
    <tr>
      <td>2065-12-31</td>
      <td>107288313</td>
      <td>1.10</td>
    </tr>
    <tr>
      <td>2066-12-31</td>
      <td>108427378</td>
      <td>1.06</td>
    </tr>
    <tr>
      <td>2067-12-31</td>
      <td>109541905</td>
      <td>1.03</td>
    </tr>
    <tr>
      <td>2068-12-31</td>
      <td>110632094</td>
      <td>1.00</td>
    </tr>
    <tr>
      <td>2069-12-31</td>
      <td>111701505</td>
      <td>0.97</td>
    </tr>
    <tr>
      <td>2070-12-31</td>
      <td>112745027</td>
      <td>0.93</td>
    </tr>
    <tr>
      <td>2071-12-31</td>
      <td>113758738</td>
      <td>0.90</td>
    </tr>
    <tr>
      <td>2072-12-31</td>
      <td>114741471</td>
      <td>0.86</td>
    </tr>
    <tr>
      <td>2073-12-31</td>
      <td>115695058</td>
      <td>0.83</td>
    </tr>
    <tr>
      <td>2074-12-31</td>
      <td>116620277</td>
      <td>0.80</td>
    </tr>
    <tr>
      <td>2075-12-31</td>
      <td>117521857</td>
      <td>0.77</td>
    </tr>
    <tr>
      <td>2076-12-31</td>
      <td>118403658</td>
      <td>0.75</td>
    </tr>
    <tr>
      <td>2077-12-31</td>
      <td>119258530</td>
      <td>0.72</td>
    </tr>
    <tr>
      <td>2078-12-31</td>
      <td>120087533</td>
      <td>0.70</td>
    </tr>
    <tr>
      <td>31.12.2079</td>
      <td>120898680</td>
      <td>0.68</td>
    </tr>
    <tr>
      <td>31.12.2080</td>
      <td>121688132</td>
      <td>0.65</td>
    </tr>
    <tr>
      <td>31.12.2081</td>
      <td>122451912</td>
      <td>0.63</td>
    </tr>
    <tr>
      <td>31.12.2082</td>
      <td>123192299</td>
      <td>0.60</td>
    </tr>
    <tr>
      <td>31.12.2083</td>
      <td>123905530</td>
      <td>0.58</td>
    </tr>
    <tr>
      <td>31.12.2084</td>
      <td>124595543</td>
      <td>0.56</td>
    </tr>
    <tr>
      <td>31.12.2085</td>
      <td>125263826</td>
      <td>0.54</td>
    </tr>
    <tr>
      <td>31.12.2086</td>
      <td>125903313</td>
      <td>0.51</td>
    </tr>
    <tr>
      <td>31.12.2087</td>
      <td>126513818</td>
      <td>0.48</td>
    </tr>
    <tr>
      <td>31.12.2088</td>
      <td>127099094</td>
      <td>0.46</td>
    </tr>
    <tr>
      <td>31.12.2089</td>
      <td>127656582</td>
      <td>0.44</td>
    </tr>
    <tr>
      <td>31.12.2090</td>
      <td>128187155</td>
      <td>0.42</td>
    </tr>
    <tr>
      <td>31.12.2091</td>
      <td>128695068</td>
      <td>0.40</td>
    </tr>
    <tr>
      <td>31.12.2092</td>
      <td>129179467</td>
      <td>0.38</td>
    </tr>
    <tr>
      <td>31.12.2093</td>
      <td>129633311</td>
      <td>0.35</td>
    </tr>
    <tr>
      <td>31.12.2094</td>
      <td>130060769</td>
      <td>0.33</td>
    </tr>
    <tr>
      <td>31.12.2095</td>
      <td>130469742</td>
      <td>0.31</td>
    </tr>
    <tr>
      <td>31.12.2096</td>
      <td>130851504</td>
      <td>0.29</td>
    </tr>
    <tr>
      <td>31.12.2097</td>
      <td>131203123</td>
      <td>0.27</td>
    </tr>
    <tr>
      <td>31.12.2098</td>
      <td>131531247</td>
      <td>0.25</td>
    </tr>
    <tr>
      <td>31.12.2099</td>
      <td>131839636</td>
      <td>0.23</td>
    </tr>
    <tr>
      <td>31.12.2100</td>
      <td>132127044</td>
      <td>0.22</td>
    </tr>
  </tbody>
</table>